<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="InstallUtil64BitFileSpec" value="c:\Windows\Microsoft.NET\Framework64\v4.0.30319\InstallUtilLib.dll"/>
    <add key="MSIFileSpec" value="D:\Documenti\Visual Studio 2005\Projects\NetSqlAzMan_Solution\NetSqlAzManSetupX64\Release\NetSqlAzManSetup_x64.msi"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
