<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings>
		<add name="NetSqlAzManConnectionString" connectionString="Data source=.;Initial Catalog=NetSqlAzManStorage;user id=sa;password=;Connection Timeout=60"/>
	</connectionStrings>
	<system.web>
		<identity impersonate="true"/>
		<roleManager defaultProvider="NetSqlAzManRoleProvider" enabled="true" cacheRolesInCookie="false" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<clear/>
				<add 
          name="NetSqlAzManRoleProvider" 
          type="NetSqlAzMan.Providers.NetSqlAzManRoleProvider" 
          connectionStringName="NetSqlAzManConnectionString" 
          storeName="EIDOS" 
          applicationName="DB Persone" 
          userLookupType="LDAP" 
          defaultDomain="EIDOSIS4-AFR"/>
				<!-- UserLookupType options: { LDAP, DB } -->
				<!-- Leave DefaultDomain blank if userLookupType=="DB" (DB users) -->
			</providers>
		</roleManager>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
