<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="NetSqlAzManConnectionString" connectionString="Data source=.;Initial Catalog=NetSqlAzManStorage;user id=sa;password=;Connection Timeout=60"/>
  </connectionStrings>
  <system.web>
    <identity impersonate="true"/>
    <roleManager defaultProvider="NetSqlAzManRoleProvider" enabled="true" cacheRolesInCookie="false" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear/>
        <add
          name="NetSqlAzManRoleProvider"
          type="NetSqlAzMan.Providers.NetSqlAzManRoleProvider"
          connectionStringName="NetSqlAzManConnectionString"
          storeName="EIDOS"
          applicationName="DB Persone"
          userLookupType="LDAP"
          defaultDomain="EIDOSIS4-AFR"
          UseWCFCacheService="True" />
        <!-- 
              UseWCFCacheService: 
              False: use a local instance of the StorageCache class.
              True: use the NetSqlAzMan WCF Cache Service (remember to add the <system.serviceModel>...</system.serviceModel> section to your web.config file)
        -->
        <!-- UserLookupType options: { LDAP, DB } -->
        <!-- Leave DefaultDomain blank if userLookupType=="DB" (DB users) -->
      </providers>
    </roleManager>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICacheService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" listenBacklog="10"
            maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
            maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8000/NetSqlAzMan.Cache.Service/CacheService/"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICacheService"
          contract="NetSqlAzManWCFCacheService.ICacheService" name="NetTcpBinding_ICacheService">
        <identity>
          <userPrincipalName value="" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
