<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="NetSqlAzMan.Cache.Service.Properties.Settings.NetSqlAzManStorageCacheConnectionString" connectionString="Data Source=(local);Initial Catalog=NetSqlAzManStorage;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="expirationValue" value="0 1 0 0"/>
    <!-- days hours minutes seconds -->
    <add key="StoreNameFilter" value=""/>
    <!-- Syntax "Store1;Store" or leave empty for all Stores -->
    <add key="ApplicationNameFilter" value=""/>
    <!-- Syntax "Application1;Application" or leave empty for all Applications -->
    <add key="WCFCacheServicePartners" value=""/>
    <!-- WCF Cache Service Partners (Endpoint1;Endpoint2;...); Invalidate Cache will be invoked on all other partners -->
    <!-- net.tcp://otherserver1:8000/NetSqlAzMan.Cache.Service/CacheService/;net.tcp://otherserver2:8000/NetSqlAzMan.Cache.Service/CacheService/-->
    <!-- leave empty if no ServicePartners -->
  </appSettings>
  <system.serviceModel>
    <!-- WCFCacheServicePartner Client EndPoint -->
    <client>
      <endpoint address="net.tcp://localhost:8000/NetSqlAzMan.Cache.Service/CacheService/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICacheService1" contract="WCFCacheServicePartnerServiceReference.ICacheService" name="NetTcpBinding_ICacheService">
        <identity>
          <userPrincipalName value=""/>
        </identity>
      </endpoint>
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICacheService" transactionFlow="false">
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_ICacheService1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICacheService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="true" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NetSqlAzMan.Cache.Service.HTTPCacheServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="100"/>
        </behavior>
        <behavior name="NetSqlAzMan.Cache.Service.NETTCPCacheServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!-- HTTP SERVICE -->
      <!--<service behaviorConfiguration="NetSqlAzMan.Cache.Service.HTTPCacheServiceBehavior"
                name="NetSqlAzMan.Cache.Service.CacheService">
                <endpoint address="" binding="wsHttpBinding" contract="NetSqlAzMan.Cache.Service.ICacheService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8000/NetSqlAzMan.Cache.Service/CacheService/" />
                    </baseAddresses>
                </host>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>-->

      <!-- NET TCP SERVICE -->
      <service behaviorConfiguration="NetSqlAzMan.Cache.Service.NETTCPCacheServiceBehavior" name="NetSqlAzMan.Cache.Service.CacheService">
        <endpoint address="" binding="netTcpBinding" contract="NetSqlAzMan.Cache.Service.ICacheService"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8000/NetSqlAzMan.Cache.Service/CacheService/"/>
            <add baseAddress="http://localhost:9000/NetSqlAzMan.Cache.Service/CacheService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
