<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NetSqlAzMan.Properties.Settings.NetSqlAzManStorageConnectionString"
            connectionString="Data Source=.;Initial Catalog=NetSqlAzManStorage;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>